.env

__pycache__/
**/__pycache__/

*.pyc
**/*.pyc

app/__pycache__/app.cpython-312.pyc
app/controllers/__pycache__/margin_controller.cpython-312.pyc
app/controllers/__pycache__/pipeline_controller.cpython-312.pyc
app/controllers/__pycache__/view_controller.cpython-312.pyc
app/services/__pycache__/clickhouse_client_service.cpython-312.pyc
app/services/__pycache__/data_processing.cpython-312.pyc
app/services/__pycache__/logging_service.cpython-312.pyc
app/services/__pycache__/minio_client_service.cpython-312.pyc
app/services/__pycache__/s3_client_service.cpython-312.pyc
app/services/__pycache__/utils_service.cpython-312.pyc
app/services/__pycache__/utils.cpython-312.pyc
client/services/__pycache__/database.cpython-312.pyc
client/services/__pycache__/view_service.cpython-312.pyc
